{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>pyspark, django test</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div>
    <select name="cmb_option" id="cmbOption">
        <option value="X">Select a value</option>
        {% for c in combo%}
        <option value="{{c.key}}">{{c.label}}</option>
        {% endfor %}
    </select>

</div>
<div id="canvasDiv">
    <canvas id="sparkChart" width="600" height="500"></canvas>
</div>

<!-- Spinner -->
<div id="loadingSpinner">
    <div></div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'js/script.js' %}"></script>
</body>
</html>
